
@import '../components/accordion';
@import '../components/hero';
@import '../components/tabs';
@import '../components/readmore';

@import '../components/news';
@import '../components/consulting';
@import '../components/info';

@import '../components/posts';
@import '../components/licensing_chart';

.form__frame {
    width: calc(100% + 3rem);
    min-height: 80vh;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

@media (min-width: 768px) {
    .form__frame {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
